footer {
  order: 3;
  margin-top:auto;
  text-align: justify;
  min-height: 11.76em;
  width: 100vw;
  z-index: 9993;
}

.footer {
  color: #656565;
  background-color: #1d2027;
}

hr {
  border: 0;
  height: 1px;
  width: 80vw;
  margin: 0 auto;
}
