<footer class="container col">
  <div class="container row">
    <div></div>
    <div></div>
  </div>
  <div class="copyright-box">
    <hr>
    <span class="copyright-text">
      <fa-icon [icon]="['fal', 'copyright']" transform="up-10" size="xs"></fa-icon>
      Greg Csokas
    </span>
  </div>
</footer>
