<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <base href="/">

  <meta name="viewport" content="{{ meta.viewport }}">
  <meta name="description" content="{{ meta.description }}" />
  <meta name="keywords" content="{{ meta.keywords }}" />
  <meta name="author" content="{{ meta.author }}" />

  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="container col">
  <app-root></app-root>
</body>
</html>
