/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Merriweather);

body {
  font-family: Open Sans, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  display: flex;
}

.col {
  flex-flow: column nowrap;
}

.row {
  flex-flow: row wrap;
}
