nav {
  order: 1;
  width: 100vw;
  z-index: 9999;
  justify-content: center;
}

.menu {
  width: 60vw;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}


li {
  padding: 8px 0;
}

.menu li:not(.search):not(.login) {
  cursor: pointer;
  width: calc(100vw / 16);
  -moz-transition: background .15s ease-out;
  -ms-transition: background .15s ease-out;
  -webkit-transition: background .15s ease-out;
  transition: background .15s ease-out;
}

.menu-item {
  text-align: center;
}


