<nav>
  <ul class="container row menu">
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/">Greg Csokas</a>
    </li>
    <li class="menu-item">
      <a routerLink="/about">Bio</a>
    </li>
    <li class="menu-item">
      <a routerLink="/cv">CV</a>
    </li>
    <li class="menu-item">
      <a routerLink="/portfolio">Portfolio</a>
    </li>
    <li class="menu-item">
      <a routerLink="/lab">Lab</a>
    </li>
    <li class="menu-item">
      <form action="" role="search" method="get">
        <label for=""></label>
        <input type="text" name="search" placeholder="search">
        <button type="submit">
          <fa-icon [icon]="['far', 'search']"></fa-icon>
        </button>
      </form>
    </li>
    <li *ngIf="loggedIn" class="menu-item">
      <a href=""><fa-icon [icon]="['fal', 'sliders-h']"></fa-icon></a>
    </li>
    <li *ngIf="loggedIn" class="menu-item">
      <a href=""><fa-icon [icon]="['fal', 'sign-out-alt']"></fa-icon></a>
    </li>
    <li *ngIf="!loggedIn" class="menu-item">
      <a href=""><fa-icon [icon]="['fal', 'sign-in-alt']"></fa-icon></a>
    </li>
  </ul>
</nav>
